@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4">Welcome</h1>
    <a class="link" href="home/register">Click here to register!</a>
</div>
<div class="center">
    <img src="~/images/coffee.jpeg" width="250" height="250"/>
</div>